body{
    min-height: 100vh;background: url('image/work.jpg') no-repeat;
    background-size: 100%;
    background-position: center;
}
h1{
    font-size: 8rem;
    font-family: cursive;
    text-align: center;
    color: azure;
}
